keybinds clear-defaults=true {
    normal {
        bind "Esc" { SwitchToMode "Prompt"; }
    }
    locked {
        bind "Shift Esc" { SwitchToMode "Prompt"; }
    }
    search {
        bind "Esc" { ScrollToBottom; SwitchToMode "Prompt"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    prompt {
        bind "Ctrl d" { CloseFocus; }
        bind "Ctrl v" { SwitchToMode "Locked"; }
        bind "i" { SwitchToMode "Normal"; }
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "_" { NewPane "Down"; }
        bind "|" { NewPane "Right"; }
        bind "f" { ToggleFocusFullscreen; }
        bind "Space" { TogglePaneEmbedOrFloating; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "Esc" "Enter" "G" { ScrollToBottom; }
        bind "J" { GoToPreviousTab; }
        bind "K" { GoToNextTab; }
        bind "Ctrl h" { MovePane "Left"; }
        bind "Ctrl j" { MovePane "Down"; }
        bind "Ctrl k" { MovePane "Up"; }
        bind "Ctrl l" { MovePane "Right"; }
    }
    entersearch {
        bind "Esc" { SwitchToMode "Prompt"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    shared {
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Ctrl t" { NewTab; }
    }
    shared_except "locked" {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Ctrl w" { CloseTab; }
        bind "Alt z" { TogglePaneFrames; }
    }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "quit"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "prompt"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
     monokai-soda {
         fg 248 248 242
         bg 60 60 60
         red 249 38 114
         green 166 226 46
         yellow 230 219 116
         blue 102 217 239
         magenta 174 129 255
         orange 253 151 31
         cyan 102 217 239
         black 17 17 17
         white 248 248 242
     }
 }

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "monokai-soda"

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
//
copy_command "wl-copy"                    // wayland

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

session_serialization false
