layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:zjstatus" {
                format_left   "{mode}{tabs}"
                format_space  "#[bg=#111111]"

                border_enabled  "false"

                hide_frame_for_single_pane "false"

                mode_default_to_mode "prompt"

                mode_normal         "#[fg=#222222,bg=green] Insert "
                mode_prompt         "#[fg=#222222,bg=yellow] Normal "
                mode_search         "#[fg=#222222,bg=blue] {name} "
                mode_enter_search   "#[fg=#222222,bg=blue] EntSch "
                mode_locked         "#[fg=#222222,bg=magenta] PasThr "

                tab_normal          "#[fg=#6f6f6f,bg=#111111] {index} "
                tab_active          "#[fg=#a2a2a2,bold] {index} "
            }
        }
        children
    }
}
